body {
  width: 500px;
  height: 500px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
#main {
  padding: 2rem;
}
#main h2 {
  text-align: center;
}
.row {
  width: 400px;
}
.card .card-body {
  padding: 5rem;
}
